<div class="insights-panel">
  <div class="account-info">
    <div class="account-left">
      <span>
         <img src="assets/images/current-account.png" alt="Current Account" class="account-img" />
      </span>
      <div>
        <div class="account-type">Current Account</div>
        <div class="account-number">1234-5678-9012</div>
      </div>
    </div>
    <div class="account-right">
      <div class="account-balance">$12,345.67</div>
      <div class="available-balance">AVAILABLE BALANCE</div>
    </div>
  </div>
</div>

<div class="side-buttons-panel">
    <button class="side-btn">
      <span class="material-icons side-btn-icon">attach_money</span>
      Budgets
    </button>
    <button class="side-btn">
      <span class="material-icons side-btn-icon">flag</span>
      Saving goals
    </button>
    <button class="side-btn">
      <span class="material-icons side-btn-icon">rule</span>
      Categorization rules
    </button>
  </div>

  <app-filters></app-filters>

<div class="choose-view-panel">
  <div class="choose-view">
    <span class="choose-label">Choose View:</span>
    <span class="material-icons choose-icon" (click)="onChooseView('list')">list</span>
    <span class="material-icons choose-icon" (click)="onChooseView('treemap')">view_quilt</span>
    <span class="material-icons choose-icon" (click)="onChooseView('pie')">pie_chart</span>
    <span class="material-icons choose-icon" (click)="onChooseView('bubble')">bubble_chart</span>
    <span class="material-icons choose-icon" (click)="onChooseView('bar')">bar_chart</span>
  </div>
</div>

<app-spending-treemap
  *ngIf="showTreemap"
  [transactions]="filteredSortedTransactions">
</app-spending-treemap>