.insights-panel {
  //background: #f6e0c9;
  //background: #f0f4f8;
  //background: #ff9a63;
  //background: #ffa477;
  position: relative;
  background: #ffb28b;
  border-radius: 18px;
  box-shadow: 0 2px 12px rgba(0,0,0,0.07);
  padding: 46px;
  margin-left: 270px;   
  max-width: 900px; 
  margin-top: 30px;
  margin-right: 370px;
  z-index: 1;
}

.account-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.account-left {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: -15px;
}

.account-type {
  font-size: 1.5rem;
  font-weight: 600;
  color: #1976d2;
}

.account-number {
  font-size: 1rem;
  color: #555;
}

.account-right {
  text-align: right;
  margin-bottom: -15px;
}

.account-balance {
  font-size: 1.7rem;
  font-weight: bold;
  color: #1976d2;
}

.available-balance {
  font-size: 0.95rem;
  color: #3f9ab6;
  margin-top: 4px;
}

.account-img {
  width: 50px;
  height: 50px;
  object-fit: contain;
  margin-right: 12px;
  margin-bottom: -6px;
}

.choose-view-panel {
  background: #ecf8ff;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.07);
  padding: 22px;
  max-width:798px;
  margin-left: 280px;
  margin-top: 30px;
  margin-bottom: 5px;
}

.choose-view {
  display: flex;
  align-items: center;
  gap: 16px;
}

.choose-label {
  font-weight: 500;
  color: #1976d2;
  font-size: 1.1rem;
}

.choose-icon {
  font-size: 1.6rem;
  color: #1976d2;
  cursor: pointer;
  transition: color 0.2s;
}

.choose-icon:hover {
  color: #1795d0;
}

.side-buttons-panel {
  position: absolute;
  display: flex;
  top: 40px;
  left:1185px;
  flex-direction: column;
  gap: 6px;
  margin-top: 65px;
  z-index: 2;
   min-width: 295px;
}

.side-btn {
  background: #e3f2fd;
  color: #1976d2;
  border: none;
  border-radius: 8px;
  padding: 12px 24px 12px 18px;
  font-size: 1.08rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  box-shadow: 0 1px 4px rgba(0,0,0,0.06);
  transition: background 0.2s;
}

.side-btn:hover {
  background: #bfcbd6;
}

.side-btn-icon {
  font-size: 1.5rem;
  color: #3573b1;
}