<div class="insights-panel">
  <div class="account-info">
    <div class="account-left">
      <span>
         <img src="assets/images/current-account.png" alt="Current Account" class="account-img" />
      </span>
      <div>
        <div class="account-type">Current Account</div>
        <div class="account-number">1234-5678-9012</div>
      </div>
    </div>
    <div class="account-right">
      <div class="account-balance">$12,345.67</div>
      <div class="available-balance">AVAILABLE BALANCE</div>
    </div>
  </div>
  <div class="choose-view">
    <span class="choose-label">Choose View:</span>
    <span class="material-icons choose-icon">list</span>
    <span class="material-icons choose-icon">grid_view</span>
    <span class="material-icons choose-icon">pie_chart</span>
    <span class="material-icons choose-icon">bubble_chart</span>
    <span class="material-icons choose-icon">bar_chart</span>
  </div>
</div>