<aside class="sidebar">
  <div class="logo">
  <span class="logo-text">
    <span class="new">New</span><span class="bank">Bank</span>
  </span>
</div>
  <nav class="sidebar-nav">
    <ul>
      <li><span class="diamond">&#9670;</span> HOME</li>
      <li><span class="diamond">&#9670;</span> MY ACCOUNTS</li>
      <li><span class="diamond">&#9670;</span> PAYMENTS</li>
      <li><span class="diamond">&#9670;</span> CARDS</li>
      <li><span class="diamond">&#9670;</span> CURRENCY EXCHANGE</li>
      <li><span class="diamond">&#9670;</span> PRODUCT CATALOGUE</li>
      <li><span class="diamond">&#9670;</span> <b>PFM</b></li>
      <li><span class="diamond">&#9670;</span> SELF CARE</li>
      <li><span class="diamond">&#9670;</span> SUPPORT</li>
    </ul>
  </nav>
  <div class="logout">
    <span class="material-icons logout-icon">logout</span> LOGOUT
  </div>
</aside>
