<aside class="sidebar">
  <div class="logo">
  <span class="logo-text">
     <img src="banking-logo.png" alt="Logo" class="logo-img" />
  </span>
</div>
  <nav class="sidebar-nav">
  <ul>
    <li><span class="material-icons sidebar-icon">home</span> HOME</li>
    <li><span class="material-icons sidebar-icon">account_balance</span> MY ACCOUNTS</li>
    <li><span class="material-icons sidebar-icon">payment</span> PAYMENTS</li>
    <li><span class="material-icons sidebar-icon">credit_card</span> CARDS</li>
    <li><span class="material-icons sidebar-icon">currency_exchange</span> CURRENCY EXCHANGE</li>
    <li><span class="material-icons sidebar-icon">storefront</span> PRODUCT CATALOGUE</li>
    <li><span class="material-icons sidebar-icon">savings</span> <b>PFM</b></li>
    <li><span class="material-icons sidebar-icon">person</span> SELF CARE</li>
    <li><span class="material-icons sidebar-icon">support_agent</span> SUPPORT</li>
  </ul>
</nav>
  <div class="logout">
    <span class="material-icons logout-icon">logout</span> LOGOUT
  </div>
</aside>
